{% if chart_set.chart_1.pk in visable_charts_list  and chart_set.chart_2.pk in visable_charts_list %}
        <div class="widget-body" id="a{{chart_set.chart_1.pk}}-t">
            <div class="legend-sidebar">
                <div id="chart-{{chart_set.chart_1.pk}}-legend">
                    {% include "chart_legend.html" with chart=chart_set.chart_1 %}
                </div>
                <div class="chart_hspace-sep"></div>
                <div id="chart-{{chart_set.chart_2.pk}}-legend">
                    {% include "chart_legend.html" with chart=chart_set.chart_2 %}
                </div>
            </div>
            <div class="main-chart-area" style=" height:350px;">
            {% if chart_set.distribution == 0 %}
                <!-- 1/2 | 1/2 -->
                <div class="half-size-chart" >
                    {% include "chart_placeholder.html" with chart=chart_set.chart_1 %}
                </div>
                <div class="chart_hspace"></div>
                <div class="half-size-chart" >
                    {% include "chart_placeholder.html" with chart=chart_set.chart_2 %}
                </div>
            {% elif chart_set.distribution == 1 %}
                <!-- 2/3 | 1/3 -->
                <div class="two-third-size-chart" >
                    {% include "chart_placeholder.html" with chart=chart_set.chart_1 %}
                </div>
                <div class="chart_hspace"></div>
                <div class="third-size-chart" >
                    {% include "chart_placeholder.html" with chart=chart_set.chart_2 %}
                </div>
            {% elif chart_set.distribution == 2 %}
                <!-- 1/3 | 2/3 -->
                <div class="third-size-chart" >
                    {% include "chart_placeholder.html" with chart=chart_set.chart_1 %}
                </div>
                <div class="chart_hspace"></div>
                <div class="two-third-size-chart" >
                    {% include "chart_placeholder.html" with chart=chart_set.chart_2 %}
                </div>
            {% endif %}
            </div>
        </div>
    <!--</div>  end {{ chart_set.chart_1.title|upper }} {{ chart_set.chart_2.title|upper }} -->
{% elif chart_set.chart_1.pk in visable_charts_list %}
    {% include "chart.html" with chart=chart_set.chart_1 %}
{% elif chart_set.chart_2.pk in visable_charts_list %}
    {% include "chart.html" with chart=chart_set.chart_2 %}
{% endif %}