{% extends "base.html" %}

{% block content %}



<form class="form-signin" method="post" action="">
{% csrf_token %}
<h2 class="form-signin-heading">Change your user profile</h2>
{% if form.errors %}
<div class="form-group has-error has-feedback">
	<label class="control-label" for="old_password">
		<p>Your old password was entered incorrectly. </p>
		<p>Please enter it again.</p>
	</label>
	<input type="password" class="form-control" placeholder="{{ form.old_password.label }}" name="old_password" required="" autofocus="" id="{{ form.old_password.id_for_label }}">
	<span class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>
{% else %}
<input type="password" class="form-control" placeholder="{{ form.old_password.label }}" name="old_password" required="" autofocus="" id="{{ form.old_password.id_for_label }}">
{% endif %}
<input type="password" class="form-control" placeholder="{{ form.new_password1.label }}" name="new_password1" required="" id="{{ form.new_password1.id_for_label }}">
<input type="password" class="form-control" placeholder="{{ form.new_password2.label }}" name="new_password2" required="" id="{{ form.new_password2.id_for_label }}">
<button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
