*.log
*.pot
*.pyc
local_settings.py
build
PyScada.egg-info
dist
/.project
docs/_build
/.idea/*

# Emacs backup files
*~
/tests/test/*
/tests/project_template_tmp/*

/docker/nginx/ssl/*
/docker/pyscada/pyscada.zip
/docker/pyscada/project_template.zip
logs_install.txt
logs_docker.txt
/docker/mysql/Dockerfile
/docker/docker-compose.yml
