include AUTHORS
include LICENSE
include README.rst
include CHANGELOG.txt
recursive-include pyscada/templates *
recursive-include pyscada/fixtures *
recursive-include pyscada/hmi/fixtures *
recursive-include pyscada/hmi/templates *
recursive-include pyscada/hmi/static *
recursive-include pyscada/core/*
recursive-include pyscada/django_datasource/*
recursive-include docs *
recursive-exclude * *.pyc
recursive-exclude pyscada/report *
