[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/tmp/gunicorn.pid
User=pyscada
Group=pyscada
WorkingDirectory=/var/www/%u/PyScadaServer
ExecStart=/usr/bin/gunicorn --pid /tmp/gunicorn.pid PyScadaServer.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
