[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/usr/local/bin/gunicorn
User=pyscada
Group=pyscada
WorkingDirectory=/home/pyscada/www/PyScadaServer
ExecStart=/usr/bin/gunicorn --pid /home/pyscada/www/PyScadaServer/run/gunicorn.pid PyScadaServer.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target