[Unit]
Description=PyScada Modbus Daemon
After=network.target

[Service]
PIDFile=/tmp/pyscada_modbus.pid
User=pyscada
Group=pyscada
WorkingDirectory=/var/www/%u/PyScadaServer/
ExecStart=/usr/bin/python /var/www/%u/PyScadaServer/manage.py PyScadaDaemonHandler modbus start
# ExecReload=/usr/bin/python /var/www/%u/PyScadaServer/manage.py PyScadaDaemonHandler modbus restart
ExecStop=/usr/bin/python /var/www/%u/PyScadaServer/manage.py PyScadaDaemonHandler modbus stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target