[Unit]
Description=PyScada Mail Daemon
After=network.target

[Service]
PIDFile=/tmp/pyscada_mail.pid
User=pyscada
Group=pyscada
WorkingDirectory=/var/www/%u/PyScadaServer/
ExecStart=/usr/bin/python /var/www/%u/PyScadaServer/manage.py PyScadaDaemonHandler mail start
# ExecReload=/usr/bin/python /var/www/%u/PyScadaServer/manage.py PyScadaDaemonHandler mail restart
ExecStop=/usr/bin/python /var/www/%u/PyScadaServer/manage.py PyScadaDaemonHandler mail stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target