[Unit]
Description=PyScada Event Daemon
After=network.target

[Service]
PIDFile=/tmp/pyscada_event.pid
User=pyscada
Group=pyscada
WorkingDirectory=/var/www/%u/PyScadaServer/
ExecStart=/usr/bin/python /var/www/%u/PyScadaServer/manage.py PyScadaDaemonHandler event start
# ExecReload=/usr/bin/python /var/www/%u/PyScadaServer/manage.py PyScadaDaemonHandler event restart
ExecStop=/usr/bin/python /var/www/%u/PyScadaServer/manage.py PyScadaDaemonHandler event stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target