[Unit]
Description=PyScada Daemon
After=network.target

[Service]
Type=forking
PIDFile=/tmp/pyscada_daemon.pid
User=pyscada
Group=pyscada
WorkingDirectory=/var/www/pyscada/PyScadaServer/
ExecStart=/usr/bin/python /var/www/pyscada/PyScadaServer/manage.py pyscada_daemon start
ExecStop=/usr/bin/python /var/www/pyscada/PyScadaServer/manage.py pyscada_daemon stop
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
