
:root {
	/* VARIABLES */

	/* MAIN COLORS UNIT */
	--main-blue: #4C0BC6;
	--main-bg-color: #f3f2fc;
	--main-block-element-color: #ffffff;
	--xl-light-blue: #997bff;
	--main-title-color: #162D3D;
	--main-subtitle-color: #8093A3;
	--main-blue-hover: #36158D;


	/* WIDTH */
	--sidebar-width: 190px;
	--container-width: calc( 100vw - var(--sidebar-width));

	/* MAIN ELEMENT COLOR */
	--sidebar-bg-color: var(--main-blue);
	--main-child-bg-color: var(--main-bg-color);
	--card-color: var(--main-block-element-color);
	--icon-color: var(--main-block-element-color);
	--button-primary-color: var(--main-blue);
	--button-primary-color-hover: var(--main-blue-hover);

	/* FONTS FAMILY */
	--main-title-font-family: 'Baloo 2', sans-serif;
	--main-subtitle-font-family: 'Baloo 2', sans-serif;;
	--main-button-font-family: 'Baloo 2', sans-serif;;

	/* FONT SIZE */
	--main-title-font-size: 30px;
	--main-subtitle-font-size: 18px;
	--main-font-size: 14px;

	/* FONT WEIGHT */
	--main-title-font-weight: 700;
	--main-subtitle-font-weight: 600;
}

/* FONTS IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/roboto/roboto-regular-webfont.eot');
	src: url(../fonts/roboto/'roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
		url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
		url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
		url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;

}




@font-face {
	font-family: 'robotolight';
	src: url('../fonts/roboto/roboto-light-webfont.eot');
	src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
		url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
		url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
		url('../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}


html {
	font-family: robotoregular, sans-serif;
}
body {
	font-family: var(--main-title-font-family);
	font-size: var(--main-font-size);
	color: var(--main-title-color);
}
html,body {
	height:100%;
}

.title {
	font-size: var(--main-title-font-size);
	font-family: var(--main-title-font-family);
	color: var(--main-title-color);
	font-weight: var(--main-title-font-weight);
	margin-top: 90px;
}

.subtitle {
	font-size: var(--main-subtitle-font-size);
	font-family: var(--main-subtitle-font-family);
	font-weight: var(--main-subtitle-font-weight);
	margin-top: 50px;
}

.row {
    margin-bottom: 15px;
}

.btn {
	border-radius: 6px;
	font-family: var(--main-button-font-family);
}

.btn-default {
	background-image:none;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
	text-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.btn-primary {
	background-color: var(--button-primary-color);
}
.btn button[type="sumbit"] {
	margin-top: 20px;
}

.btn-primary:hover {
	background-color: var(--button-primary-color-hover);
}

.input-group-addon {
	border-radius:0px;
}

.navbar-inverse {
	position: fixed;
	box-shadow: 12px 0px 15px -3px rgba(0,0,0,0.3) !important;
	width: var(--sidebar-width);
	height: 100vh;
	background-color: var(--sidebar-bg-color) !important;
	background-image: none !important;
}

.navbar-inverse-hidden, .navbar-inverse-hidden .container {
	display: none;
}

.panel-default > .panel-heading {
	background-color: var(--main-block-element-color);
	border: unset;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.navbar-inverse .container {
	display: block;
	width: var(--sidebar-width);
	margin-left: unset !important;
	padding-top: 70px;
	background-color: var(--sidebar-bg-color);
	height: 100%;
}
.navbar-collapse.collapse {
	height: unset !important;
}

.nav > li {
	position: unset !important
}

.navbar-right .dropdown-menu {
	right: unset;
}

.navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
	background-color: unset !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	height: 100%;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-image:none;
	box-shadow:none;
	webkit-box-shadow:none;
	background-color: #000;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	text-shadow: none;
}

.navbar-inverse .navbar-brand:hover {
	color: var(--main-block-element-color) !important;
}

.navbar-inverse .navbar-brand {
	color: var(--xl-light-blue) !important;
}

.navbar-brand, .navbar-nav>li>a {
	text-shadow: none;
}
.navbar-right .dropdown-menu {
    top: auto;
    min-width: 25vw;
    max-width: 95vw;
}
.theme-dropdown .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.label {
	border-radius:0px;
}
.settings-dropdown {
	position: absolute;
	bottom: 10px;
	left: 0;
}

.navbar-right {
	position: absolute;
	bottom: 30px;
}

.glyphicon-cog {
	font-size: x-large;
}
.control-panel .label {
	margin-bottom: 5px;
	margin-right: 5px;
	width: 220px;
	padding: 10px 12px;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #fff;
}

.sub-page{
	padding-top:15px;
	padding-left: 10px;
}

.SAC-Main {
	position:relative;
	top:0; left:0;
}

.SAC-Value {
	position:absolute;
	font-size: 12px;
}
.SAC-IMG {
	position:absolute;
}

.status-panel tbody > tr > td {
	border-top: 0px;
	padding: 2px;
}

.status-panel span.label,
.control-pabel span.label {
	float: left;
	width: 100px;

}
.status-panel li,
.control-pabel li {
	list-style: none;

}
.legend-sidebar{
	/*min-width:240px;*/
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left:10px;
	float: left;
	font: 12px/1em "proxima-nova", Helvetica, Arial, sans-serif;
}
.chart-legend {
	font-size: 10px;

}

.container {
	max-width: 2550px !important;
	margin-left: calc(var(--sidebar-width) + 60px) !important;
	width: var(--container-width);
	background-color: var(--main-child-bg-color);
}
.container-initial {
	max-width: 2550px !important;
	width: var(--container-width);
	background-color: var(--main-child-bg-color);
	height: initial !important;
}

#wrap {
	min-height: 100%;
	background-color: var(--main-child-bg-color);
	overflow-x: hidden;
}

#content {
	overflow:auto;
	padding-bottom:50px;
}

.footer
{
	position: relative;
	margin-top: -30px;
	padding-top: 6px;
	padding-left: 20px;
	visibility: hidden !important;
}

.xylegend-sidebar {
	min-width:168px;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	float: left;
	font: 12px/1em "proxima-nova", Helvetica, Arial, sans-serif;
}

.flux-actus {
	background-color: var(--card-color) !important;
	height: 100vh !important;
	padding: 0 40px;
}

.actus-title {
	margin-top: 90px;
}

.xy-chart-container {
	position: relative;
	box-sizing: border-box;
	padding: 10px 5px 10px 7px;
	border: 1px solid #ddd;
	background: #fff;
	/*background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);*/
	font: 12px/1em "proxima-nova", Helvetica, Arial, sans-serif;
}

.pie-container {
	position: relative;
	box-sizing: border-box;
	padding: 10px 5px 10px 7px;
	border: 1px solid #ddd;
	background: #fff;
	/*background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);*/
	font: 12px/1em "proxima-nova", Helvetica, Arial, sans-serif;
}

.main-chart-area{
	position: relative;
	min-height: 1px;
	float: left;
}
.half-size-chart{
	float: left;
	position: relative;
	min-height: 1px;
	width: 49.5%;
	height: 100%;
}
.third-size-chart{
	float: left;
	position: relative;
	min-height: 1px;
	width: 33%;
	height: 100%;
}
.two-third-size-chart{
	float: left;
	position: relative;
	min-height: 1px;
	width: 65%;
	height: 100%;
}

.clear-sep{
	clear:both;
	padding-top:15px;
}
.chart-container {
	position: relative;
	box-sizing: border-box;
	padding: 10px 5px 10px 7px;
	border: 1px solid #ddd;
	background: #fff;
	/*background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);*/
	font: 12px/1em "proxima-nova", Helvetica, Arial, sans-serif;
}

.chart-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.axisLabel {
	position: absolute;
	text-align: center;
	font-size: 12px;
}

.chartTitle {
	position: absolute;
	text-align: center;
	font-size: 12px;
	top:5px;
	left:50%;

}

.legendTitle {
	font-size: 12px;
}

.xaxisLabel {
    bottom: 3px;
    left: 50%;
}

.yaxisLabel {
	top: 50%;
	left: 5px;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform:  rotate(-90deg);
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

.ie7 .yaxisLabel, .ie8 .yaxisLabel {
	top: 40%;
	font-size: 36px;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.0, M12=0.33, M21=-0.33, M22=0.0,sizingMethod='auto expand');
}
.btn-minimize{
	float:right;
}

.chart-btn-bar {
	position: absolute;
	top:2px;
	right:2px;
}
.chart-btn-bar .btn{
	padding:0px 12px;
}

.chart-zoom-bar {
	position: absolute;
	top:2px;
	left:2px;
}
.chart-zoom-bar input{
	padding:0px 12px;
	vertical-align: middle;
	margin: 1px;
}

table.tablesorter thead tr .header {
	background-image: url(/static/pyscada/img/unsorted.gif);
	background-repeat: no-repeat;
	background-position: top right;
	cursor:pointer;
}

.legend-sidebar table.tablesorter thead tr .header {
	background-position: top center;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(/static/pyscada/img/asc.gif);

}

table.tablesorter thead tr .headerSortDown {
	background-image: url(/static/pyscada/img/desc.gif);
}

table.tablesorter thead tr .header.sorter-false {
	background-image: none;
}

.legendSeries {
	border: 1px solid #ddd;
	padding:1px;
	font-size: 11px;
	/*line-height: 0.5em;*/
}
.legendLabel {
	padding-right:5px;
}
.legendValue {
	border-left: 1px solid #ddd;
}
.legendSeries  input[type="checkbox"]{
	margin: 0px 0 0;
}

.panel-default {
	margin-top: 30px;
	-webkit-box-shadow: 3px 3px 5px 3px rgba(179,179,179,0.3) !important;
	box-shadow: 3px 3px 5px 3px rgba(179,179,179,0.3) !important;
	max-width: 280px;
	max-height: 230px;
}

.thumbnail {
	border: unset;
}

.panel {
	border-radius: 6px;
}

.side-menu {
	background: #fff;
	position:fixed;
	border: 1px solid #ddd;
	padding:3px;
	z-index:100;
	min-width:210px;
	margin-bottom:0px;
}
.side-menu.panel {
	padding:0px;
}

.side-menu span.label {
	width: 100%;
	margin-top:3px;
}
.side-menu ul li,
.control-panel ul li,
.dropdown-menu ul li {
	list-style: none;
}
.side-menu.left {
	bottom:36px;
	left:-200px;
	text-align:right;
	float: right;
}
.side-menu.right {
	bottom:36px;
	right:-200px;
	text-align:left;
	float: left;
}
.side-menu ul,
.control-panel ul,
.dropdown-menu ul {
	padding-left:0px;
}

.control-panel .input-group {
	float:left;
	position:relative;
	width: 100%;
    display: inline-block;
}

.control-panel .input-group-addon.input-group-addon-label {
	width:50%;
	text-align:left;
	text-overflow:ellipsis;
	overflow:hidden;
	display:inline-block;
}

.control-panel .input-group-addon {
	line-height:unset;
}

.control-panel .btn {
	margin-bottom:5px;
	margin-right:5px;
	width :100%;
	text-overflow:ellipsis;
	overflow:hidden;
	display:inline-block;
}

.control-panel .input-group-btn .btn {
	margin:0px;
	width :auto;
}


.side-menu.left span.label {
	text-align:right;
}

.side-menu.right span.label {
	text-align:left;
}

.chart_hspace {
	float: left;
	position: relative;
	min-height: 1px;
	width: 1%;
	height: 100%;
}


.widget {
	display: flex;
	flex-direction: column;
}

.widget-body {
	padding-top:10px;
	padding-bottom:10px;
}

.widget-body::after {
	clear: both;
}

.widget-body::before ,
.widget-body::after {
	display: table;
	content: " ";
}
.input-group.set_value {
	width: 100%;
	margin-bottom:5px;
	margin-right:5px;
	font-size:0;
	display:inline-block;
}
.input-group.set_value .help-block {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  caption-side: bottom;
  margin: 0px;
}

#container-form-signin {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 400px;
}
.form-signin {
	max-width: 550px;
	margin: 100px auto !important;
	padding: 40px 60px;
	border-radius: 6px;
	height: 350px;
	background-color: var(--main-block-element-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin-heading {
	font-size: var(--main-title-font-size);
	font-family: var(--main-title-font-family);
	font-weight: var(--main-title-font-weight);
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	border-radius: 6px;
	margin-bottom: 20px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: 15x;

}
.form-signin input[type="password"] {
	margin-bottom: 10px;
}

#tooltip {
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80;
}

/*form {
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-style: solid;
}*/

.legendLayer .background {
    fill: rgba(255, 255, 255, 0.85);
    stroke: rgba(0, 0, 0, 0.85);
    stroke-width: 1;
}

.widget .panel-body {
  border-style: dashed;
}

.control-panel .form {
  display: inline-block;
  border-style: dotted;
}
