{% if item.type == 0 %}<!-- input value -->
    <div class="input-group control_button"><button type="button" class="btn btn-default update-able write-task-btn type-bool {{ item.web_class_str }}" id="{{ item.web_id }}-{{ uuid }}" data-key="{{ item.key }}" data-type="{{ item.item_type}}">{{ item.label }}</button></div>
{% elif item.type == 1 %}<!-- color only -->
    <div class="input-group control_button"><button type="button" class="btn btn-default control-item type-numeric update-able {{ item.web_class_str }}" id="{{ item.web_id }}-{{ uuid }}" data-key="{{ item.key }}" data-type="{{ item.item_type}}">{{ item.label }}</button></div>
{% endif %}