<div id="chart-legend-{{widget_pk}}-{{chart.pk}}" style="padding: 0px; position: relative; table-layout: fixed;">
    <div class="legendTitle">{{ chart.title }}</div>
    <div class="legend">
        <table id="chart-legend-table-{{widget_pk}}-{{chart.pk}}" class="tablesorter" style="font-size:smaller;color:#545454; width: 100%;table-layout: fixed;">
            <thead>
                <tr>
                    <th style="width:14px;">&nbsp;</th>
                    <th style="width:14px;" class="sorter-false">&nbsp;</th>
                    <th  class="{sorter: 'text'}">&nbsp;</th>
                    <th style="width:45px; text-align:right" class="{sorter: 'digit'}">&nbsp;</th>
                    <th style="width:35px;" class="{sorter: 'text'}">&nbsp;</th>
                </tr>
                <tr class="legendSeries">
                    <td>
                        <input type="checkbox" checked="checked" id="chart-legend-checkbox-{{widget_pk}}-{{ chart.pk }}-make_all_none">
                    </td>
                    <td></td>
                    <td>Mark All/None</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>

            {% for axe in chart.chartaxis_set.all|dictsort:"id" %}
             <div class="hidden axis-config" data-label="{{axe.label}}" data-key="{{axe.pk}}" data-position="{{ axe.position }}" data-min="{{ axe.min }}" data-max="{{ axe.max }}" data-show-plot-points="{{ axe.show_plot_points }}" data-show-plot-lines="{{ axe.show_plot_lines }}" data-stack="{{ axe.stack }}" data-fill="{{ axe.fill }}"></div>
              {% for var in axe.variables.all %}
                  {% if var.active and var.device.active %}
                  <tr class="legendSeries" title="{{var.description}}">
                      <td>
                          <span class="hidden" id="chart-legend-checkbox-status-{{widget_pk}}-{{chart.pk}}-{{var.pk}}" >1</span>
                          <input type="checkbox" checked="checked" id="chart-legend-checkbox-{{widget_pk}}-{{ chart.pk }}-{{ var.pk }}">
                          <div class="hidden variable-config" data-name="{{var.name}}" data-key="{{var.pk}}" data-color="{{ var.chart_line_color_code }}" data-init-type="1" data-type="variable" data-axis-id="{{ axe.pk }}" data-device-polling_interval="{{ var.device.polling_interval }}"></div>
                      </td>
                      <td class="legendColorBox">
                          <div style="border:1px solid #ccc;padding:1px">
                              <div style="width:4px;height:0;border:5px solid {{ var.chart_line_color_code }};overflow:hidden">
                              </div>
                          </div>
                      </td>
                      <td class="legendLabel" data-key="{{var.pk}}" style="word-wrap: break-word">
                          {{ var.hmi_name }}
                      </td>
                      <td class="legendValue type-numeric chart-legend-value-{{widget_pk}}-{{chart.pk}} var-{{ var.pk }}" id="chart-legend-value-{{widget_pk}}-{{chart.pk}}-{{var.pk}}" style="text-align:right"></td>
                      <td class="legendUnit" data-key="{{var.pk}}">{{ var.unit.unit }}</td>
                  </tr>
                  {% endif %}
              {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
