<div id="chart-legend-{{widget.pk}}-{{chart.pk}}" style="padding: 0px; position: relative;">
    <div class="legendTitle">{{ chart.title }}</div>
    <div class="legend">
        <table id="chart-legend-table-{{widget.pk}}-{{chart.pk}}" class="tablesorter" style="font-size:smaller;color:#545454">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="sorter-false">&nbsp;</th>
                    <th class="sorter-text">&nbsp;</th>
                    <th class="sorter-float">&nbsp;</th>
                    <th class="sorter-text">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for var in chart.variables.all %}
                {% if var.active and var.device.active %}
                <tr class="legendSeries">
                    <td>
                        <span class="hidden" id="chart-legend-checkbox-status-{{widget.pk}}-{{chart.pk}}-{{var.name}}" >1</span>
                        <input type="checkbox" checked="checked" id="chart-legend-checkbox-{{widget.pk}}-{{ chart.pk }}-{{ var.name }}">
                        <div class="hidden variable-config" data-name="{{var.name}}" data-key="{{var.pk}}" data-color="{{ var.chart_line_color_code }}"></div>
                    </td>
                    <td class="legendColorBox">
                        <div style="border:1px solid #ccc;padding:1px">
                            <div style="width:4px;height:0;border:5px solid {{ var.chart_line_color_code }};overflow:hidden">
                            </div>
                        </div>
                    </td>
                    <td class="legendLabel">
                        {{ var.hmi_name }}
                    </td>
                    <td class="legendValue type-numeric var-{{ var.name }}"></td>
                    <td class="legendUnit">{{ var.unit.unit }}</td>
                </tr>
                {% endif %}
            {% endfor %}        
            </tbody>
        </table>
    </div>
</div>
