<div class="legend-sidebar">
    {% include "chart_legend.html" with chart=chart_set.chart_1 widget_pk=widget.pk %}
    <div class="clear-sep"></div>
    {% include "chart_legend.html" with chart=chart_set.chart_2 widget_pk=widget.pk %}
    <div class="clear-sep"></div>        
</div>
<div style="margin-left:240px;">
    <div id="widget_{{widget.pk}}" class="widget col-xs-6 col-sm-6 col-md-6 col-lg-6"> <!-- {{ widget.title }} -->
        {% include "chart.html" with chart=chart_set.chart_1 widget_pk=widget.pk%}
    </div>
    <div id="widget_{{widget.pk}}" class="widget col-xs-6 col-sm-6 col-md-6 col-lg-6"> <!-- {{ widget.title }} -->
        {% include "chart.html" with chart=chart_set.chart_2 widget_pk=widget.pk%}
    </div>
 </div>
<!--</div>  end {{ chart_set.chart_1.title|upper }} {{ chart_set.chart_2.title|upper }} -->
