{% if item.active == 1 %}
        <div class="hidden variable-config" data-name="{{ item.name }}" data-key="{{ item.key }}" data-color="{{ var.chart_line_color_code }}" data-init-type="0" data-type="{{ item.item_type}}" data-min="{{ item.min }}" data-max="{{ item.max }}" data-value-class="{{ item.value_class }}"  data-min-type="{{ item.min_type }}" data-max-type="{{ item.max_type }}"></div>
    {% if item.type == 0 %}<!-- label blue -->
        <div class="input-group control_label"><span class="label label-default type-bool status-blue {{ item.web_class_str }}">{{ item.label }}</span></div>
    {% elif item.type == 1 %}<!-- label light blue -->
        <div class="input-group control_label"><span class="label label-default type-bool status-info {{ item.web_class_str }}">{{ item.label }}</span></div>
    {% elif item.type == 2 %}<!-- label ok -->
        <div class="input-group control_label"><span class="label label-default type-bool status-green {{ item.web_class_str }}">{{ item.label }}</span></div>
    {% elif item.type == 3 %}<!-- label warning -->
        <div class="input-group control_label"><span class="label label-default type-bool status-yellow {{ item.web_class_str }}">{{ item.label }}</span></div>
    {% elif item.type == 4 %}<!-- label alarm -->
        <div class="input-group control_label"><span class="label label-default type-bool status-red {{ item.web_class_str }}">{{ item.label }}</span></div>
    {% elif item.type == 7 %}<!-- label alarm inverted -->
        <div class="input-group control_label"><span class="label label-default type-bool status-red-inv {{ item.web_class_str }}">{{ item.label }}</span></div>
    {% elif item.type == 5 %}<!-- input -->
        {% if item.value_class == 'BOOL' or item.value_class == 'BOOLEAN' %}
            <div class="input-group control_button"><button type="button" data-key="{{ item.key }}" data-type="{{ item.item_type}}"  class="btn btn-default update-able write-task-btn type-bool {{ item.web_class_str }}" id="{{ item.web_id }}-{{ uuid }}">{{ item.label }}</button></div>
        {% else %}
            <div class="input-group set_value">
                <span class="input-group-addon input-group-addon-label" style="width:40%;height:34px;">{{ item.label }}</span>
                <span class="input-group-addon input-group-addon-label" style="{% if item.unit %}width:40%;{% else %}width:50%;{% endif %}padding:0;border:0;">
                    <input type="text" class="form-control {{ item.web_class_str }}" id="{{ item.web_id }}-{{ uuid }}-value" placeholder="">
                </span>
                {% if item.unit %}<span class="input-group-addon" style="width: 10%;display: inline-block;height: 34px;">{{ item.unit }}</span>{% endif %}
                <span class="input-group-btn" style="display:inline-block;width:10%;">
                    <button class="btn btn-default write-task-set set-{{ item.key }}" data-key="{{ item.key }}" data-type="{{ item.item_type }}" id="{{ item.web_id }}-{{ uuid }}" data-min="{{ item.min }}" data-max="{{ item.max }}" data-value-class="{{ item.value_class }}"  data-min-type="{{ item.min_type }}" data-max-type="{{ item.max_type }}" type="button" style="width:100%;height:34px;padding-top:0;padding-bottom:0;">set</button>
                </span>
            </div>
        {% endif %}
    {% elif item.type == 6 %}<!-- display value -->
        <div class="input-group set_value">
            <span class="input-group-addon input-group-addon-label" data-device-polling_interval="{{ item.variable.device.polling_interval }}">
                <button class="btn btn-default read-task-set set-{{ item.key }}" data-key="{{ item.key }}" data-type="{{ item.item_type }}" type="button" style="width:16px;height:16px;padding:0;margin:0;">
                    <span class="glyphicon glyphicon-refresh" data-toggle="tooltip" data-placement="top" title="" data-original-title="Refresh data" style="font-size:10px;vertical-align:text-top;"></span>
                </button>
                <span style="color:red;height:12px;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Very old value (>10 polling interval)" class="glyphicon glyphicon-alert hidden"></span>
                <span style="color:orange;height:12px;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Old value (between 3 and 10 polling interval)" class="glyphicon glyphicon-exclamation-sign hidden"></span>
                {{ item.label }}
            </span>
            <span class="input-group-addon input-group-addon-label type-numeric {{ item.web_class_str }}" data-unit="{% if item.unit %}{{ item.unit }}{% endif %}" data-toggle="tooltip" data-placement="top" title="" data-original-title="">Loading...</span>
        </div>
    {% endif %}
{% endif %}
