{% load i18n staticfiles %}
<!DOCTYPE html>
<html xmlns="html://www.w3.org/1999/xhtml" lang="en" dir="ltr" xml:lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="PyScada html5 client application"/>
        <meta name="author" content="Martin Schroeder"/>

        <title>{{ view_title }} - PyScada Control Center</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static "pyscada/css/bootstrap.css" %}" rel="stylesheet"/>
        <!-- Bootstrap theme -->
        <link href="{% static "pyscada/css/bootstrap-theme.min.css" %}" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="{% static "pyscada/css/pyscada-theme.css" %}" rel="stylesheet"/>
        <link rel="icon" href="{% static "pyscada/img/favicon.ico" %}" type="image/x-icon">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <script type="text/javascript">
            var html5 = { 'elements': 'abbr article aside audio bdi data datalist details figcaption figure footer header hgroup mark meter nav output progress section summary time video' };
            </script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body style="">

        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a  class="navbar-brand" href="#">PyScada</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% for page in page_list %}
                            <li><a href="#{{page.link_title}}">{{page.title}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-right navbar-nav">
                    {% for panel in control_list %}
                        {% if panel.visible %}
                            <li class="dropdown"><!-- {{ panel.title|upper }} -->
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> {{ panel.title }}<strong class="caret"></strong></a>
                                <div class="dropdown-menu" style="padding: 15px; width:715px;">
                                    <div class="control-panel">
                                        {% for item in panel.control_panel.items.all %}
                                            {% if item.pk in visible_control_element_list %}
                                                {% include "control_element.html" with item=item %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                        <li class="dropdown"><!-- Log -->
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-book"></span> Log <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 15px; width:500px;">
                                <ul>
                                    <li><a href="#page-log">Show Log</a></li>
                                    <li class="divider"></li>
                                    <li><form role="form" id="page-log-form" action="form/log_entry/" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="page-log-form-message">Message</label>
                                            <input type="text" class="form-control" id="page-log-form-message" placeholder="Enter Message" name="message">
                                        </div>
                                        <div class="form-group">
                                            <label class="radio-inline">
                                                <input type="radio" id="inlineRadio1" value="8" name="level"> Notification (8)
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" id="inlineRadio2" value="9" name="level" checked> Information (9)
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-default">Add</button>
                                    </form></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown"><!-- Settings -->
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Settings <strong class="caret"></strong></a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 15px; width:200px;">
                                <form role="form">
                                    <label for="inputPassword">x Axis duration:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="ChartTimeWindow-input">
                                        <span class="input-group-addon">min</span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="ChartTimeWindow-set">set</button>
                                        </span>
                                    </div>
                                </form>
                                <form class="navbar-form navbar-right" >
                                    <button type="button" class="btn btn-success" id="AutoUpdateButton" >auto update</button>
                                </form>
                              <a role="menuitem" class="disabled" tabindex="-1" href="#">Version: {{ core_version }}</a>
                            </div>
                        </li>
                        <li class="dropdown"><!-- User -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon  glyphicon-user"></span> {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
								<li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">{{ user.first_name }} {{ user.last_name }}</a></li>
								<li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">{{ user.email }}</a></li>
								<li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">change user info</a></li>
								<li class="divider"></li>
								<li><a href="/accounts/password_change" target="_blank"> change password</a></li>
								<li class="divider"></li>
								<li><a href="/accounts/logout"> logout</a></li>
                            </ul>
                        </li>
                        <!--<li><a href="#page-help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>-->
                        <li style="width:20px;"><a href="#" ><span id="AutoUpdateStatus" class="glyphicon glyphicon-transfer"></span></a><!--<img src="{% static "pyscada/img/load.gif" %}" alt="loading" id="AutoUpdateStatus" height="12px">--></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
            <div id="notification_area"></div>
        </div>
        <div class="container" id="content">
            {% for page in page_list %}
                <div id="{{page.link_title}}" class="sub-page" >
                    <div class="row">
                        {% for widget in page.widget_set.all %}
                            {% if widget.visible  and widget.pk in visible_widget_list%}
                                {% if widget.col == 0 and widget.row > 0 %}
                    </div>
                    <div class="row">

                                {% endif %}
                            <div id="widget_{{widget.pk}}" class="widget {{ widget.css_class}}"> <!-- {{ widget.title }} -->
                                {% if widget.chart %}
                                    {% if widget.chart.visible %}
                                        {% include "chart.html" with chart=widget.chart %}
                                    {% endif %}
                                {% elif widget.xy_chart %}
                                    {% if widget.xy_chart.visible %}
                                        {% include "xychart.html" with xy_chart=widget.xy_chart %}
                                    {% endif %}
                                {% elif widget.control_panel %}
                                    {% include "control_panel.html" with control_panel=widget.control_panel %}
                                {% elif widget.custom_html_panel %}
                                    {% include "custom_html_panel.html" with custom_html_panel=widget.custom_html_panel %}
                                {% elif widget.dut_selector %}
                                    {% include "dut_selector.html" with dut_selector=widget.dut_selector %}
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}
            <div id="page-log" class="sub-page" >
                <table id="log-table" class="table table-condensed table-hover tablesorter tablesorter-default" width="100%">
                    <colgroup>
                        <col style="width: 180px;">
                        <col style="width: 60px;">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Level</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div> <!-- end page-log -->
            {% for panel in panel_list %}
                <div class="side-menu  {% if panel.position == 1 %}left{% elif panel.position == 2 %}right{% endif %}">
                    <ul class="status-panel">
                        <li>{{ panel.title }}</li>
                        {% for item in panel.control_panel.items.all %}
                            {% if item.pk in visible_control_element_list %}
                                {% include "status_element.html" with item=item %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div> <!-- /container -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="{% static "pyscada/js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "pyscada/js/jquery.cookie.js" %}"></script>
        <script type="text/javascript" src="{% static "pyscada/js/jquery.mb.CSSAnimate.min.js" %}"></script>
        <script type="text/javascript" src="{% static "pyscada/js/jquery.tablesorter.min.js" %}"></script>
        <script type="text/javascript" src="{% static "pyscada/js/flot/jquery.flot.min.js" %}"></script>
        <script type="text/javascript" src="{% static "pyscada/js/flot/jquery.flot.resize.min.js" %}"></script>
        <script type="text/javascript" src="{% static "pyscada/js/flot/jquery.flot.time.min.js" %}"></script>
        <script type="text/javascript" src="{% static "pyscada/js/flot/jquery.flot.selection.min.js" %}"></script>
        <script type="text/javascript" src="{% static "pyscada/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "pyscada/js/pyscada/pyscada.js" %}"></script>

        <script>
        $( document ).ready(function() {
            var debug = 0;
            // Handler for .ready() called.

            // hide all pages
            $(".sub-page").hide();
            if (window.location.hash.length > 0) {
                $(window.location.hash).show();
            }else{
                window.location.hash = $('ul.navbar-nav li a').first().attr("href");
            }

            // sidemenues
            $('.side-menu.left').mouseenter(function(){
                $(this).stop().CSSAnimate({"left":0},500)
            }).mouseleave(function(){
                ow = $(this).outerWidth()
                $(this).stop().CSSAnimate({"left":-(ow - 11)},500)
            });

            $('.side-menu.right').mouseenter(function(){
                $(this).stop().CSSAnimate({"right":0},500)
            }).mouseleave(function(){
                ow = $(this).outerWidth()
                $(this).stop().CSSAnimate({"right":-(ow - 11)},500)
            });

            $('.side-menu.bottom').css('margin-left',- $('.side-menu.bottom').outerWidth(true)/2)

            $('.side-menu.bottom').stop().CSSAnimate({"bottom":-($('.side-menu.bottom').outerHeight(true) - 31)},500)

            $('.side-menu.bottom').mouseenter(function(){
                $(this).stop().CSSAnimate({"bottom":0},500)
            }).mouseleave(function(){
                oh = $(this).outerHeight(true)
                $(this).stop().CSSAnimate({"bottom":-(oh - 31)},500)
            });

            // auto update function
            $('#AutoUpdateButton').click(function(e) {
                if (auto_update_active) {
                    // deactivate auto update
                    auto_update_active = false;
                    $("#AutoUpdateButton").addClass("btn-default");
                    $("#AutoUpdateButton").removeClass("btn-success");
                } else {
                    // activate auto update
                    auto_update_active = true;
                    $("#AutoUpdateButton").addClass("btn-success");
                    $("#AutoUpdateButton").removeClass("btn-default");
                    JsonErrorCount = 0;
                    fetchData();
                }
            });
            // prevent reloading by existent
            window.onbeforeunload = function() {
                return "you realy wan't to reload/leave the page?";
            };
            // nav menu click event
            $(window).on('hashchange', function() {
                if (window.location.hash.length > 0) {
                    $('ul.navbar-nav li.active').removeClass('active');
                    $('a[href$="' + window.location.hash + '"]').parent('li').addClass('active');
                    // hide all pages
                    $(".sub-page").hide();
                    // show only new content
                    $(window.location.hash).show();
                };
            });
            $('#ChartTimeWindow-set').click(function() {
                setWindowSize(parseInt($('#ChartTimeWindow-input').val()));
            });
        });
        </script>
    </body>
</html>
