<form name="{{ form.title }}" class="form" id="{{ form.web_id }}-{{ uuid }}" style="width:100%;">
    {% for item in form.hidden_control_items_to_true.all %}
        {% if item.active == 1 %}
            {% if item.type == 0 %}<!-- hidden form input {{ item.key }} -->
                <div class="hidden variable-config" data-id="{{ form.web_id }}-{{ item.web_id }}-{{ uuid }}" data-name="{{ item.name }}" data-key="{{ item.key }}" data-init-type="0" data-type="{{ item.item_type}}" data-min="{{ item.min }}" data-max="{{ item.max }}" data-min-type="{{ item.min_type }}" data-max-type="{{ item.max_type }}"></div>
                <input type="hidden" class="form-control {{ item.web_class_str }}" name="{{ item.name }}" id="{{ form.web_id }}-{{ item.web_id }}-{{ uuid }}-value" placeholder="" value="1">
            {% endif %}
        {% endif %}
    {% endfor %}
    {% for item in form.control_items.all %}
        {% if item.active == 1 and item.pk in visible_control_element_list %}
            {% if item.type == 0 %}<!-- form input {{ item.key }} -->
                {% include "control_element.html" with form=form %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="input-group set_value">
        <span class="input-group-btn">
            <button class="btn btn-primary write-task-form-set set-{{ form.pk }}" type="button" id="{{ form.web_id }}-{{ uuid }}-button">{{ form.button }}</button>
        </span>
    </div>
</form>