<form name="{{ form.title }}">
    {% for item in form.hidden_control_items_to_true.all %}
        {% if item.active == 1 %}
            {% if item.type == 5 %}<!-- hidden form input {{ item.key }} -->
                <div class="hidden variable-config" data-name="{{ item.name }}" data-key="{{ item.key }}" data-init-type="0" data-type="{{ item.item_type}}"></div>
                <input type="hidden" class="form-control {{ item.web_class_str }}" name="{{ item.name }}" id="{{ item.web_id }}-value" placeholder="" value="1">
            {% endif %}
        {% endif %}
    {% endfor %}
    {% for item in form.control_items.all %}
        {% if item.active == 1 %}
            {% if item.type == 5 %}<!-- form input {{ item.key }} -->
                <div class="hidden variable-config" data-name="{{ item.name }}" data-key="{{ item.key }}" data-init-type="0" data-type="{{ item.item_type}}"></div>
                {% if item.item_type == 'variable_property' %}<!-- VP -->
                    {% if item.variable_property.value_class == 'BOOL' or item.variable_property.value_class == 'BOOLEAN' %}
                        <!-- VP value {{ item.variable_property.value }} -->
                        {% if item.variable_property.value %}
                            <div class="input-group set_value">
                                <input type="button" class="btn btn-success update-able write-task-btn type-bool {{ item.web_class_str }}" name="{{ item.name }}" id="{{ item.web_id }}" placeholder="" value="{{ item.name }}">
                            </div>
                        {% else %}
                            <div class="input-group set_value">
                                <input type="button" class="btn btn-default update-able write-task-btn type-bool {{ item.web_class_str }}" name="{{ item.name }}" id="{{ item.web_id }}" placeholder="" value="{{ item.name }}">
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="input-group set_value">
                            <span class="input-group-addon input-group-addon-label">{{ item.label }}</span>
                            <input type="text" class="form-control {{ item.web_class_str }}" name="{{ item.name }}" id="{{ item.web_id }}-value" placeholder="">
                            <span class="input-group-addon">{{ item.unit }}</span>
                        </div>
                    {% endif %}
                    <br><br>
                {% else %}<!-- Var -->
                    {% if item.variable.value_class == 'BOOL' or item.variable.value_class == 'BOOLEAN' %}
                        <!-- Var value {{ item.variable.value }} -->
                        {% if item.variable.value %}
                            <div class="input-group set_value">
                                <input type="button" class="btn btn-success update-able write-task-btn type-bool {{ item.web_class_str }}" name="{{ item.name }}" id="{{ item.web_id }}" placeholder="" value="{{ item.name }}">
                            </div>
                        {% else %}
                            <div class="input-group set_value">
                                <input type="button" class="btn btn-default update-able write-task-btn type-bool {{ item.web_class_str }}" name="{{ item.name }}" id="{{ item.web_id }}" placeholder="" value="{{ item.name }}">
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="input-group set_value">
                            <span class="input-group-addon input-group-addon-label">{{ item.label }}</span>
                            <input type="text" class="form-control {{ item.web_class_str }}" name="{{ item.name }}" id="{{ item.web_id }}-value" placeholder="">
                            <span class="input-group-addon">{{ item.unit }}</span>
                        </div>
                    {% endif %}
                    <br><br>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="input-group set_value">
        <span class="input-group-btn">
            <button class="btn btn-default write-task-form-set set-{{ form.pk }}" type="button">{{ form.button }}</button>
        </span>
    </div>
</form>