<div class="widget-body" >
    <!--<div class="panel panel-primary" style="height: {{ process_flow_diagram.background_image.height|add:"68" }}px; width: {{ process_flow_diagram.background_image.width|add:"30" }}px; margin-left:15px;">-->
    <div class="panel panel-primary">
        {% if process_flow_diagram.title %}
        <div class="panel-heading">
            <h3 class="panel-title">{{ process_flow_diagram.title }}</h3>
        </div>
        {% endif %}
        <div class="panel-body" style="height:inherit;">
          <img src="{{ process_flow_diagram.background_image.url }}" style="width: 100%;" alt="process flow diagram">
        </div>
        {% for item in process_flow_diagram.process_flow_diagram_items.all %}
            <div style="width: {{ item.width }}px; height: {{ item.height }}px; top: {{ item.top|add:38.6 }}px; left: {{ item.left }}px; position:absolute;	font-size: 12px;" class="control-panel">
              {% include "control_element.html" with item=item.control_item %}
            </div>
        {% endfor %}
    </div>
</div>
