{% if item.variable.active == 1 and item.variable.device.active == 1 %}
	<li>	
		<div class="hidden variable-config" data-name="{{ item.variable.name }}" data-key="{{ item.variable.pk }}" ></div>
    {% if item.type == 0 %}<!-- label blue -->
		<span class="label label-default type-bool status-blue var-{{ item.variable.name }}">{{ item.label }}</span>
    {% elif item.type == 1 %}<!-- label light blue -->
		<span class="label label-default type-bool status-info var-{{ item.variable.name }}">{{ item.label }}</span>
    {% elif item.type == 2 or item.type == 5 %}<!-- label ok -->
		<span class="label label-default type-bool status-green var-{{ item.variable.name }}">{{ item.label }}</span>
    {% elif item.type == 3 %}<!-- label warning -->
		<span class="label label-default type-bool status-yello var-{{ item.variable.name }}">{{ item.label }}</span>
    {% elif item.type == 4 %}<!-- label alarm -->
		<span class="label label-default type-bool status-red var-{{ item.variable.name }}">{{ item.label }}</span>
    {% elif item.type == 7 %}<!-- label alarm inverted -->
		<span class="label label-default type-bool status-red-inv var-{{ item.variable.name }}">{{ item.label }}</span>
    {% elif item.type == 6 %}<!-- display value -->
		<span class="label label-default type-label">{{ item.label }}: <span class="type-unit"><span class="type-numeric var-{{ item.variable.name }}">0.0</span> {{ item.variable.unit.unit }}</span></span>
    {% endif %}
	</li>
{% endif %}
