{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}
<div class="row">
    {% for view in view_list %}
        {% if view.visable %}
        <div class="col-sm-3">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{% url 'main-view' view.link_title %}" target="_blank" >{{ view.title }}</a></h3>
                </div>
                <div class="panel-body">
                {% if view.logo %}
                <a href="{% url 'main-view' view.link_title %}" class="thumbnail" target="_blank" ><img src="{{ view.logo.url }}" alt="{{ view.description }}"  width="100%" ></a>
                {% else %}
                <a href="{% url 'main-view' view.link_title %}" class="thumbnail" target="_blank" ><p style="min-height: 120px;">{{ view.description }}</p></a>
                {% endif %}
            </div>
           </div>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
    </div><div class="row">
        {% endif %}
    {% endfor %}
    {% if user.is_staff %}
        <div class="col-sm-3">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{% url 'pyscada_admin:index' %}" target="_blank">Admin</a></h3>
                </div>
                <div class="panel-body">
                <a href="{% url 'pyscada_admin:index' %}" class="thumbnail" target="_blank"><img src="{% static "pyscada/img/admin_logo.jpg" %}" alt="The Admin Panel"  width="100%"></a>
            </div>
           </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block script_bottom %}
        $( document ).ready(function() {
            // Handler for .ready() called.
           $("#loadingAnimation").hide();
           $("#AutoUpdateStatus").hide();
        });
{% endblock %}