{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ view_title }} - PyScada Control Center{% endblock %}
{% block body_confic_data %} data-data-file="json/cache_data/" {% endblock %}
{% block top_menu_left %}
    {% for page in page_list %}
        <li><a href="#{{page.link_title}}">{{page.title}}</a></li>
    {% endfor %}
{% endblock %}

{% block top_menu_right %}                  
    {% for panel in control_list %}
        {% if panel.visable %}
            <li class="dropdown"><!-- {{ panel.title|upper }} -->
                <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> {{ panel.title }}<strong class="caret"></strong></a>
                <div class="dropdown-menu" style="padding: 15px; width:715px;">
                    <div class="control-panel">
                        {% for item in panel.control_panel.items.all %}
                            {% if item.pk in visible_control_element_list %}
                                {% include "control_element.html" with item=item %}
                            {% endif %}	
                        {% endfor %}
                        {% for form in panel.control_panel.forms.all %}
                            {% if item.pk in visible_form_list %}
                                {% include "form.html" with form=form %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
        <li class="dropdown"><!-- Settings -->
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Options <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 15px; width:70%; min-width:380px;">
                <ul>
                    <li>
                        <button type="button" class="btn btn-success" id="AutoUpdateButton" >auto update</button>
                        {% if view_show_timeline %}
                            <button type="button" class="btn btn-success" id="ShowTimelineButton" >show timeline</button>
                        {% else %}
                            <button type="button" class="btn btn-default" id="ShowTimelineButton" >show timeline</button>
                        {% endif %}
                    </li>
                </ul>
            </div>

        </li>
{% endblock %}
{% block top_area %}
{% endblock %}
{% block content %}                       
    {{pages_html|safe}}
    <div id="page-log" class="sub-page" >
        <table id="log-table" class="table table-condensed table-hover tablesorter tablesorter-default" width="100%">
            <colgroup>
                <col style="width: 180px;">
                <col style="width: 60px;">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Level</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div> <!-- end page-log -->	
    {% for panel in panel_list %}
        <div class="side-menu  {% if panel.position == 1 %}left{% elif panel.position == 2 %}right{% endif %}">
            <ul class="status-panel">
                <li>{{ panel.title }}</li>
                {% for item in panel.control_panel.items.all %}
                    {% if item.pk in visible_control_element_list %}
                        {% include "status_element.html" with item=item %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
{% block include_bootom %}
<script type="text/javascript" src="{% static "pyscada/js/jquery.mb.CSSAnimate.min.js" %}"></script>
<script type="text/javascript" src="{% static "pyscada/js/jquery.tablesorter.min.js" %}"></script>
<script type="text/javascript" src="{% static "pyscada/js/flot/jquery.flot.min.js" %}"></script>
<script type="text/javascript" src="{% static "pyscada/js/flot/jquery.flot.resize.min.js" %}"></script>
<script type="text/javascript" src="{% static "pyscada/js/flot/jquery.flot.time.min.js" %}"></script>
<script type="text/javascript" src="{% static "pyscada/js/flot/jquery.flot.selection.min.js" %}"></script>
<script type="text/javascript" src="{% static "pyscada/js/pyscada/pyscada.js" %}"></script>
{% endblock %}        
{% block script_bottom %}
        $( document ).ready(function() {
            // Handler for .ready() called.
            
            // hide all pages
            $(".sub-page").hide();
            if (window.location.hash.length > 0) {
                $(window.location.hash).show();
            }else{
                window.location.hash = $('ul.navbar-nav li a').first().attr("href");
            }
            
            // sidemenues
            $('.side-menu.left').mouseenter(function(){
                $(this).stop().CSSAnimate({"left":0},500)
            }).mouseleave(function(){
                ow = $(this).outerWidth()
                $(this).stop().CSSAnimate({"left":-(ow - 11)},500)
            });
            
            $('.side-menu.right').mouseenter(function(){
                $(this).stop().CSSAnimate({"right":0},500)
            }).mouseleave(function(){
                ow = $(this).outerWidth()
                $(this).stop().CSSAnimate({"right":-(ow - 11)},500)
            });
            
            $('.side-menu.bottom').css('margin-left',- $('.side-menu.bottom').outerWidth(true)/2)
            
            $('.side-menu.bottom').stop().CSSAnimate({"bottom":-($('.side-menu.bottom').outerHeight(true) - 31)},500)
            
            $('.side-menu.bottom').mouseenter(function(){
                $(this).stop().CSSAnimate({"bottom":0},500)
            }).mouseleave(function(){
                oh = $(this).outerHeight(true)
                $(this).stop().CSSAnimate({"bottom":-(oh - 31)},500)
            });
            

            // prevent reloading by existent 
            window.onbeforeunload = function() {
                return "you realy wan't to reload/leave the page?";
            };
            // nav menu click event
            $(window).on('hashchange', function() {
                if (window.location.hash.length > 0) {
                    $('ul.navbar-nav li.active').removeClass('active');
                    $('a[href$="' + window.location.hash + '"]').parent('li').addClass('active');
                    // hide all pages
                    $(".sub-page").hide();
                    // show only new content
                    $(window.location.hash).show();
                };
            });
        });
{% endblock %}

