<div id="chart-legend-{{widget_pk}}-{{xy_chart.pk}}" style="padding: 0px; position: relative; table-layout: fixed; width: 140px;">
    <div class="legendTitle">{{ xy_chart.title }}</div>
    <div class="legend">
        <table id="chart-legend-table-{{widget_pk}}-{{xy_chart.pk}}" class="tablesorter" style="font-size:smaller;color:#545454">
            <thead>
                <tr>
                    <th style="width:14px;">&nbsp;</th>
                    <th style="width:14px;" class="sorter-false">&nbsp;</th>
                    <th  class="{sorter: 'text'}">&nbsp;</th>
                    <th style="width:35px;" class="{sorter: 'text'}">&nbsp;</th>
                </tr>
                <tr class="legendSeries">
                    <td>
                        <input type="checkbox" checked="checked" id="chart-legend-checkbox-{{widget_pk}}-{{ xy_chart.pk }}-make_all_none">
                    </td>
                    <td></td>
                    <td class="legendLabel" style="word-wrap: break-word;text-align:center;">Mark All/None</td>
                    <td style="text-align:center;">Unit</td>
                </tr>
            </thead>
            <tbody>

            {% for var in xy_chart.variables.all %}
                {% if var.active and var.device.active %}
                <tr class="legendSeries" title="{{var.description}}">
                    <td>
                        <span class="hidden" id="chart-legend-checkbox-status-{{widget_pk}}-{{xy_chart.pk}}-{{var.pk}}" >1</span>
                        <input type="checkbox" checked="checked" id="chart-legend-checkbox-{{widget_pk}}-{{ xy_chart.pk }}-{{ var.pk }}">
                        <div class="hidden variable-config" data-name="{{var.name}}" data-key="{{var.pk}}" data-color="{{ var.chart_line_color_code }}" data-init-type="1" data-type="variable"></div>
                    </td>
                    <td class="legendColorBox" style="padding-left:2px;">
                        <div style="border:1px solid #ccc;padding:1px;">
                            <div style="width:4px;height:0;border:5px solid {{ var.chart_line_color_code }};overflow:hidden">
                            </div>
                        </div>
                    </td>
                    <td class="legendLabel" style="text-align:center;word-wrap: break-word;">
                        {{ var.hmi_name }}
                    </td>
                    <td class="legendValue chart-legend-value-{{widget_pk}}-{{xy_chart.pk}} var-{{ var.pk }}" id="chart-legend-value-{{widget_pk}}-{{xy_chart.pk}}-{{var.pk}}" style="text-align:right"></td>
                    <td class="legendUnit" style="text-align:center;">{{ var.unit.unit }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
