<div class="widget-body" id="widget-body-{{ widget_pk }}-ch-{{xy_chart.pk}}">
    <div class="hidden variable-config" data-name="{{ xy_chart.x_axis_var.name }}" data-key="{{ xy_chart.x_axis_var.id }}" data-init-type="0" data-type="variable"></div>
    <div class="main-chart-area" style="height:450px; width:100%;">
        <div id="xy-chart-container-{{ widget_pk }}-{{xy_chart.pk}}" class="xy-chart-container" style="width: 100%; height:100%;"
             data-xaxis='{"id":"{{xy_chart.x_axis_var.id}}","linlog":"{{xy_chart.x_axis_linlog}}"}'
             data-axes0-yaxis='{"label":"{{xy_chart.y_axis_label}}"}'
             data-yaxis='{"plotpoints":"{{xy_chart.y_axis_plotpoints}}","uniquescale":"{{xy_chart.y_axis_uniquescale}}"}'>
            <div class="chart-placeholder"></div>
            <div class="chartTitle">{{xy_chart.title}}</div>
            <div class="chart-zoom-bar" >
                <label>
                    Zoom on axes :
                    <input class="activate_zoom_x" type="checkbox" checked="checked">X
                    <input class="activate_zoom_y" type="checkbox" checked="checked">Y
                </label>
            </div>
            <div class="chart-btn-bar" >
                <div class="btn-group">
                    <button type="button" class="btn btn-default chart-ResetSelection">
                        <span class="glyphicon glyphicon-fullscreen"></span>
                    </button>
                    <button type="button" class="btn btn-default chart-ZoomYToFit">
                        <span class="glyphicon glyphicon-resize-vertical"></span>
                    </button>
                    <button type="button" class="btn btn-default chart-ZoomXToFit">
                        <span class="glyphicon glyphicon-resize-horizontal"></span>
                    </button>
                </div>
            </div>
            <div class="axisLabel yaxisLabel">{{xy_chart.y_axis_label}}</div>
        </div>
    </div>
</div>